<div class="menu2">
   <a href="sofas"> <div> Диваны</div> </a>
    <a href="chairs"><div> Кресла </div></a>
    <a href="corners"><div> Мягкие углы </div></a>
    <a href="compacts"><div> Детские </div></a>

</div>