<div class="preimushestva" >
    <h1 style="font-family:Philosopher;font-weight: bold"> Наши преймущества: </h1>
    <div> <li> Быстрая, лояльная доставка </li> </div>
    <div> <li> Доставка до подьезда бесплатная</li> </div>
    <div> <li> Минимальные цены за подьем </li> </div>
    <div> <li> Бесплатная сборка мебели на дому </li> </div>
</div>