<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <title> Мебель </title>
    <meta charset="utf-8" />
    <link type="text/css" rel="stylesheet" href="styles/admin.css" />
</head>

<body>

<form method="post"   enctype="multipart/form-data">
    <p> <input type="radio" name="category" value="sofa"> Диван
        <input type="radio" name="category" value="chair"> Кресло
        <input type="radio" name="category" value="corner"> Мягкий уголок
        <input type="radio" name="category" value="compact"> Детский

    </p>
    <p> название изделия:  <input name="title" type="text"> </p>
    <p> описание изделия: <input name="description" type="text"> </p>
    <p> фото изделия: <input name="file" type="file" > </p>
     <br> <input  type="submit">
</form>




</body>

</html>