<% layout ('/layout/main') -%>
<h2 style="margin-left:50px;"> Наши адреса: </h2>

<h3 style="margin-left:15px;">
   1) г. Севастополь, Балаклавский район, ул. Крестовского 35. <br>
    <br>
    <div class="Ymap"><script type="text/javascript" charset="utf-8"
                              src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=gzs_QezxWIwxobspklAhb2OrSohleXRT&width=400&height=300"></script></div>
</h3>
<p style="margin-left:15px;">
    Телефон: +7(978)000-00-00 <br>
    <b> Время работы: </b>   <br>
    пн-пт: <br>
    сб: <br>
    вс: <br>
</p>

<div style="clear: both;"> </div>
 <br>
<br>

<h3 style="margin-left:15px;">
   2) г. Севастополь, 5км Балакл. ш., Южный рынок: новые павильоны-ролеты № 6,7 <br>
    <div class="Ymap"><script type="text/javascript" charset="utf-8"
                              src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=X_huC7u5fPY-y68f4O_6r8FjeXd5Yhvl&width=400&height=300"></script></div>
</h3>
<p style="margin-left:15px;">
    Телефон: +7(978)000-00-00 <br>
    <b> Время работы: </b>  <br>
    пн-пт: <br>
    сб: <br>
    вс: <br>
</p>

<div style="clear: both;"> </div>
<br>
<br>

<h3 style="margin-left:15px;">
    3) г. Севастополь, 5км Балакл. ш., Южный рынок: старые павильоны-контейнера № 6,7 <br>
    <div class="Ymap"><script type="text/javascript" charset="utf-8"
                              src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=DPlnZrfh5pF7wPv_az2GypRaeladXeDU&width=400&height=299"></script></div>
</h3>
<p style="margin-left:15px;">
    Телефон: +7(978)000-00-00 <br>
    <b> Время работы: </b>  <br>
    пн-пт: <br>
    сб: <br>
    вс: <br>
</p>

<div style="clear: both;"> </div>
<br>

<h2 style="margin-left:50px;"> Наши телефоны: </h2> <br>
<h4 style="margin: -10px 0 20px 15px;"> 1) Любовь Николаевна: +7(978)000-00-00 </h4>