<% layout ('/layout/main') -%>

<img class="deliveryImg" src="img/dostavka.jpg" >
<p style="margin:5px 8px 0 8px;"> Подьем по подьезду и занос в квартиру: 80-100p за этаж <br>
    Занос в частный дом: 150р за этаж <br>
<b>Доставка до подьезда по г.Севастополю: бесплатная! </b> <br>
    Расценки доставки в другие города уточняйте у оператора
</p>
<h4 style="margin:10px 8px 0 8px;">  Больше информации и подробности уточняйте у оператора по телефону</h4>